.ai-advice_container {
  @include grid-center;
  width: 100%;
  min-height: 80vh;
}

#response-area {
  padding: 1rem;
  display: grid;
  align-items: center;
}

.ai-welcome_message {
  margin: auto;
  text-align: center;
  font-family: $karla-font;
  margin-inline: 2rem;

  .smile-icon {
    font-size: 2rem;
    color: $second-text;
    background: linear-gradient(
      to bottom right,
      $light-border-color,
      $dark-blue-color
    );
    border-radius: 0.7rem;
    padding: 0.5rem 0.787rem;

    &::after {
      content: "Taskly";
      font-weight: 700;
      @include abs-position;
      opacity: 0.04;
      font-size: clamp(7rem, 2.5vw, 12rem);
    }
  }

  h1 {
    background: linear-gradient(
      to bottom right,
      $light-checked-color 5%,
      $first-text 95%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.user-message {
  padding: 0.7rem 1rem;
  background-color: $second-color;
  place-self: end;
  border-radius: 1.45rem 1.45rem 0.187rem;
  max-width: 77%;
  margin-block: 0.7rem;
  height: auto;
  display: inline;
  word-wrap: break-word;
}

.input-submit_box {
  max-width: 35rem;
  width: 90%;
  position: fixed;
  bottom: 6rem;
  background-color: $third-color;
  padding-inline: 1rem 1rem;
  border-radius: 2rem;
  @include flex-space;
  gap: 1rem;
  border: 1px solid $light-border-color;
  z-index: 4;
  transition: all 0.167s ease-in-out;

  input,
  textarea {
    margin-inline: 0.3rem;
    padding-block: 0.9rem 0.7rem;
    font-size: 1rem;
    min-height: 3rem;
    width: 100%;
    background-color: transparent;
    color: $first-text;
    resize: none;
    transition: all 0.3s ease-in-out;
    font-family: inherit;
  }

  button {
    background-color: transparent;
    color: $first-text;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.57;
    }

    &:disabled {
      opacity: 0.6;
      cursor: unset;
    }

    i {
      font-size: 1.77rem;
    }
  }
}

.catch-error {
  @include flex-space;
  column-gap: 0.657rem;
  font-weight: 600;
  font-size: 0.94rem;
  place-self: center;
  color: $delete-color;
  border: 1px solid $light-delete-color;
  width: max-content;
  padding: 0.7rem 1rem;
  border-radius: 0.7em;
  background-color: $dark-delete-color;
  margin-top: 0.7rem;
}

.think-div {
  @include grid-center;
  place-self: center;
  color: $first-text;
  border: 1px solid $light-border-color;
  width: max-content;
  padding: 1rem 1rem 0.5rem;
  border-radius: 2em;
  background-color: transparent;
  margin-bottom: 0.77rem;
}

.loader {
  width: 55px;
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $light-optional-color;
  opacity: 0.7;
}

.ball:nth-child(1) {
  animation: bounce-1 1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-8px);
  }
}

.ball:nth-child(2) {
  animation: bounce-3 1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-8px);
  }
}

.ball:nth-child(3) {
  animation: bounce-3 1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-8px);
  }
}
