.auth {
  transition: all 0.4s ease;
  width: 100%;
  padding-block: 2.7rem;

  &__container {
    @include grid-center;
    gap: 2rem;
  }

  &__image img {
    max-width: 3.7rem;
  }

  &__header {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 0.7rem;
      font-size: 1.75rem;
      color: $second-text;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
    }
  }

  &__form {
    width: 100%;
    text-align: center;

    form {
      @include grid-center;
      gap: 1.5rem;
      margin-inline: 1.5rem;

      .form-group {
        @include grid-center;
        width: 100%;
        max-width: 370px;
        position: relative;

        .show-password-icon {
          position: absolute;
          right: 1.5rem;
          top: 1.2rem;
          cursor: pointer;
        }

        label {
          font-weight: 500;
          margin-bottom: 0.5rem;
          position: absolute;
          left: 1rem;
          top: -0.6rem;
          font-size: 0.85rem;
          padding: 0rem 0.5rem;
          border-radius: 1rem;
          background-color: $primary-color;
        }

        input {
          background-color: $primary-color;
          padding: 1.15rem 1rem;
          border: 1px solid $border-color-transparent-2;
          border-radius: 2rem;
          transition: border 0.3s ease;
          color: $first-text;
          width: 100%;

          &:focus {
            border-color: rgba($color: $sky-blue-color, $alpha: 0.5);
            outline: none;
          }
        }

        .error-msg {
          font-size: 0.8rem;
          color: $coral-red-color;
          margin-top: 0.25rem;
          opacity: 0;
          transform: translateY(-4px);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }

        input:invalid:focus + .error-msg {
          opacity: 1;
          transform: translateY(0);
        }
      }

      #remove-account-btn {
        background-color: $coral-red-color;

        &:hover {
          background-color: darken($coral-red-color, 10%);
        }
      }
    }

    #remove-account-form p {
      line-height: 1.5;
      font-size: 0.95rem;
    }

    button,
    #cancel-remove-btn {
      padding: 1rem 0.75rem;
      background-color: $sky-blue-color;
      color: white;
      font-weight: 600;
      border-radius: 2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      max-width: 370px;
      width: 100%;

      &:hover {
        background-color: darken($sky-blue-color, 10%);
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;

        &:hover {
          background-color: $sky-blue-color;
        }
      }
    }

    #cancel-remove-btn {
      margin-top: 1.5rem;
    }

    .auth__toggle {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.9rem;
      a {
        color: #007bff;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
