.dashboard {
  @include grid-center;
  flex-direction: column;
  padding: 0.77rem;
  font-family: $DM-Sans;
  width: 100%;

  .dash-header {
    width: 100%;
    text-align: start;
    padding: 1rem;
    line-height: 1.65;

    h5 {
      font-size: 0.77rem;
      color: $first-text;
      opacity: 0.57;
      font-weight: 400;
    }
  }
}

.dashboard-charts {
  @include grid-center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .chart {
    text-align: center;
    background-color: $secondary-color-transparent-4;
    padding: 0.7rem 0.35rem 0.35rem;
    border-radius: 1rem;
    border: 1px solid $border-color-transparent-2;
    width: 100%;
    // margin-inline: 1rem;

    .chart-details {
      @include flex-space;
      margin-inline: 1.25rem;

      h1 {
        font-size: 2.55rem;
      }
    }

    p {
      font-size: 0.73rem;
      font-weight: 600;
      color: $second-text;

      i {
        vertical-align: top;
        padding-left: 0.17rem;
      }
    }

    .chart-title {
      font-size: 0.93rem;
      align-self: flex-start;
    }
  }

  .category-chart {
    i {
      color: $moderate-color;
      font-size: 1rem;
    }
  }

  .seven-days-chart {
    i {
      color: $low-color;
      font-size: 1.2rem;
    }
  }

  .state-details {
    i {
      color: $sky-blue-color;
      font-size: 1.12rem;
    }
  }

  .tracked-time-chart {
    i {
      color: $sky-blue-color;
    }
  }

  .state-chart {
    @include flex-space;

    .state-details {
      text-align: start;
      place-self: start;
      padding: 0.5rem 0.7rem;

      h5 {
        color: $high-color-transparent-4;
      }

      .state-span {
        @include flex-center;
        flex-direction: column;
        row-gap: 0.3rem;
        align-items: start;
        font-size: 0.65rem;
        margin-top: 0.77rem;
        margin-left: 3rem;
        position: relative;

        span::before {
          content: "";
          position: absolute;
          left: -1rem;
          margin-top: 0.25rem;
          width: 7px;
          height: 7px;
          border-radius: 1rem;
        }

        span:nth-child(1)::before {
          background-color: $purple-color;
        }

        span:nth-child(2)::before {
          background-color: $moderate-color;
        }

        span:nth-child(3)::before {
          background-color: $sky-blue-color;
        }
      }
    }

    #doughnut-chart_div {
      width: 104px;
      position: relative;
      display: inline;

      #done-task_percetage {
        @include abs-position;
        font-size: 1.2rem;
        color: $first-text;
        opacity: 0.47;

        p {
          font-size: 0.77rem;
          font-weight: 200;
          margin-top: -0.25rem;
        }
      }
    }
  }
}

.time-span {
  font-size: 0.65rem;
  display: grid;
  text-align: start;
  position: relative;
  row-gap: 0.3rem;

  span::before {
    content: "";
    position: absolute;
    left: -1rem;
    margin-top: 0.25rem;
    border-radius: 1rem;
    width: 7px;
    height: 7px;
  }

  span:nth-child(1)::before {
    background-color: $sky-blue-color;
  }
  span:nth-child(2)::before {
    background-color: $optional-color;
  }
}

.time-details {
  @include flex-space;
  margin: -0.25rem 0.37rem 0.67rem 0.37rem;

  h3 {
    font-size: 0.815rem;
  }

  span {
    color: $primary-color;
    padding: 0rem 0.13rem;
    border-radius: 0.15rem;
    font-size: 0.67rem;
  }
  #tracked-time {
    background-color: $sky-blue-color;
  }
  #remaining-time {
    background-color: $optional-color;
  }
}

.dashboard_tasks-list {
  width: 100%;
  font-family: $karla-font;

  .task-list-container {
    border-radius: 1.7rem 1.7rem 0rem 0rem;
    margin-inline: -0.74rem;
  }

  .list-task:last-of-type {
    padding-bottom: 4rem;
  }

  .task-list-div {
    height: 28rem;
  }

  .length {
    min-width: 1.4rem;
    padding: 0.17rem 0.37rem 0rem;
    border-radius: 2rem;
    margin-left: 0.7rem;
    text-align: center;
    font-size: 0.77rem;
    text-align: center;
  }
}

.statechart-tracktime-div {
  @include grid-center;
  gap: 1rem;
  width: 100%;

  .chart {
    width: 100%;
  }
}

// Delete all complete tasks div style

.all-delete-div {
  @include grid-center;
  position: absolute;
  bottom: -0.0159rem;
  left: 0;
  background-color: $primary-color-transparent-2;
  backdrop-filter: blur(7px);
  width: 100%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  border-top: 1px solid $dark-blue-color-transparent-2;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
}

.all-delete-btn {
  @include grid-center;
  border-radius: 1.7rem;
  background-color: $purple-color;
  cursor: pointer;
  width: 2.8rem;
  height: 2.7rem;
  transition: opacity 0.3s;
}

.all-delte-icon {
  width: 1.5rem;
}

.delete-ask-div {
  place-self: center;
  background-color: $primary-color-transparent-2;
  backdrop-filter: blur(7px);
  max-width: 30rem;
  width: 90%;
  border-radius: 0.77rem;
  text-align: center;
  border: 1px solid $border-color-transparent-2;
  padding: 2rem 1rem;
  color: $first-text;
  font-family: $karla-font;

  h3 {
    font-weight: 550;
    font-size: 1.12rem;
  }

  p {
    font-size: 0.85rem;
  }

  i,
  h3,
  p,
  .ask-btns {
    margin-top: 1rem;
  }
}

#exclamation-icon i {
  display: block;
  color: $coral-red-color;
  font-size: 2.7rem;
}

.ask-btns {
  @include flex-center;
  gap: 0.77rem;
}

.ask-btn {
  cursor: pointer;
  font-family: inherit;
  padding: 0.45rem 1.6rem;
  font-size: 0.77rem;
  border-radius: 2rem;
  transition: opacity 0.4s;
  color: $first-text;
}

#no {
  background-color: $second-text;
  color: $primary-color;
}
#yes {
  background-color: $purple-color;
}

.all-delete-btn:hover,
.ask-btn:hover {
  opacity: 0.85;
}

.all-delete-btn:active,
.ask-btn:active {
  transition: transform 0.7s ease-in;
  scale: 0.87;
}
