.dashboard {
  margin-top: 1.5rem;
  @include grid-center;
  flex-direction: column;
  padding: 0.87rem;
  font-family: $DM-Sans;
  width: 100%;

  .dash-header {
    width: 100%;
    text-align: start;
    padding: 1rem;
    line-height: 1.65;

    h5 {
      font-size: 0.77rem;
      color: $text-color;
      opacity: 0.57;
      font-weight: 400;
    }
  }
}

.dashboard-charts {
  @include grid-center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .chart {
    text-align: center;
    background-color: $light-secondary-color;
    padding: 0.7rem 0.35rem 0.35rem;
    border-radius: 1rem;
    border: 1px solid $light-border-color;
    width: 100%;

    .chart-details {
      @include flex-space;
      margin-inline: 1.25rem;

      i {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 2.55rem;
      }
    }

    p {
      font-size: 0.65rem;
      font-weight: 700;
      border-radius: 1rem;
      color: $gray-color;
      padding: 0.11rem 0.5rem;
      font-family: $karla-font;
    }

    .chart-title {
      font-size: 0.93rem;
      align-self: flex-start;
      color: $light-high-color;
    }
  }

  .category-chart {
    i {
      color: $moderate-color;
    }
  }

  .seven-days-chart {
    i {
      color: $low-color;
    }
  }

  .state-chart {
    @include grid-center;
    grid-template-columns: 1fr 1fr;

    .state-details {
      text-align: start;
      place-self: start;
      padding: 0.5rem 0.7rem;

      h5 {
        color: $light-high-color;
      }

      .state-span {
        @include flex-center;
        flex-direction: column;
        row-gap: 0.3rem;
        align-items: start;
        font-size: 0.7rem;
        margin-top: 0.77rem;
        margin-left: 2.77rem;
        position: relative;

        span::before {
          content: "";
          position: absolute;
          left: -1rem;
          margin-top: 0.2rem;
          width: 7px;
          height: 7px;
          border-radius: 50%;
        }

        span:nth-child(1)::before {
          background-color: $btn-color;
        }

        span:nth-child(2)::before {
          background-color: $moderate-color;
        }

        span:nth-child(3)::before {
          background-color: $low-color;
        }
      }
    }

    #doughnut-chart_div {
      width: 100px;
      position: relative;

      #done-task_percetage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        color: $text-color;
        opacity: 0.47;
      }
    }
  }
}
