.dashboard {
  @include grid-center;
  flex-direction: column;
  padding: 0.77rem;
  font-family: $DM-Sans;
  width: 100%;

  .dash-header {
    width: 100%;
    text-align: start;
    padding: 1rem;
    line-height: 1.65;

    h5 {
      font-size: 0.77rem;
      color: $first-text;
      opacity: 0.57;
      font-weight: 400;
    }
  }
}

.dashboard-charts {
  @include grid-center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .chart {
    text-align: center;
    background-color: $second-color;
    padding: 0.7rem 0.35rem 0.35rem;
    border-radius: 1rem;
    border: 1px solid $light-border-color;
    width: 100%;
    // margin-inline: 1rem;

    .chart-details {
      @include flex-space;
      margin-inline: 1.25rem;

      h1 {
        font-size: 2.55rem;
      }
    }

    p {
      font-size: 0.65rem;
      font-weight: 600;
      color: $second-text;

      i {
        vertical-align: top;
        padding-left: 0.17rem;
      }
    }

    .chart-title {
      font-size: 0.93rem;
      align-self: flex-start;
    }
  }

  .category-chart {
    i {
      color: $moderate-color;
    }
  }

  .seven-days-chart {
    i {
      color: $low-color;
      font-size: 1rem;
    }
  }

  .state-details {
    i {
      color: $btn-color;
      font-size: 1rem;
    }
  }

  .tracked-time-chart {
    i {
      color: $count-color;
    }
  }

  .state-chart {
    @include flex-space;

    .state-details {
      text-align: start;
      place-self: start;
      padding: 0.5rem 0.7rem;

      h5 {
        color: $light-high-color;
      }

      .state-span {
        @include flex-center;
        flex-direction: column;
        row-gap: 0.3rem;
        align-items: start;
        font-size: 0.65rem;
        margin-top: 0.77rem;
        margin-left: 3rem;
        position: relative;

        span::before {
          content: "";
          position: absolute;
          left: -1rem;
          margin-top: 0.25rem;
          width: 7px;
          height: 7px;
          border-radius: 1rem;
        }

        span:nth-child(1)::before {
          background-color: $btn-color;
        }

        span:nth-child(2)::before {
          background-color: $moderate-color;
        }

        span:nth-child(3)::before {
          background-color: $count-color;
        }
      }
    }

    #doughnut-chart_div {
      width: 104px;
      position: relative;
      display: inline;

      #done-task_percetage {
        @include abs-position;
        font-size: 1.2rem;
        color: $first-text;
        opacity: 0.47;

        p {
          font-size: 0.77rem;
          font-weight: 200;
          margin-top: -0.25rem;
        }
      }
    }
  }
}

.time-span {
  font-size: 0.65rem;
  display: grid;
  text-align: start;
  position: relative;
  row-gap: 0.3rem;

  span::before {
    content: "";
    position: absolute;
    left: -1rem;
    margin-top: 0.25rem;
    border-radius: 1rem;
    width: 7px;
    height: 7px;
  }

  span:nth-child(1)::before {
    background-color: $count-color;
  }
  span:nth-child(2)::before {
    background-color: $optional-color;
  }
}

.time-details {
  @include flex-space;
  margin: -0.25rem 0.37rem 0.67rem 0.37rem;

  h3 {
    font-size: 0.815rem;
  }

  span {
    color: $first-color;
    padding: 0rem 0.13rem;
    border-radius: 0.15rem;
    font-size: 0.67rem;
  }
  #tracked-time {
    background-color: $count-color;
  }
  #remaining-time {
    background-color: $optional-color;
  }
}

.dashboard_tasks-list {
  width: 100%;

  .task-list-container {
    border-radius: 1.7rem 1.7rem 0rem 0rem;
    margin-inline: -0.74rem;
  }

  .list-task:last-of-type {
    padding-bottom: 4rem;
  }

  .task-list-div {
    height: 28rem;
  }

  .length {
    min-width: 1.4rem;
    padding: 0.17rem 0.37rem 0rem;
    border-radius: 2rem;
    margin-left: 0.7rem;
    text-align: center;
    font-size: 0.77rem;
    text-align: center;
  }
}

.statechart-tracktime-div {
  @include grid-center;
  gap: 1rem;
  width: 100%;

  .chart {
    width: 100%;
  }
}
