.send-feedback_icon-div {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  background-color: $border-color-transparent-2;
  backdrop-filter: blur(15px);
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  font-size: 0.77rem;
  border: 1px solid $border-color-transparent-2;

  i {
    margin-left: 0.7rem;
    font-size: 0.91rem;
  }

  &:hover {
    scale: 1.05;
  }
}

.get-feedback-form_div {
  position: fixed;
  bottom: 5.7rem;
  right: 1.3rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  width: 100%;
  padding-inline: 0.5rem;
  background-color: $secondary-color;
  border: 1px solid $dark-blue-color-transparent-2;
  display: none;

  .feedback-header {
    @include flex-space;
    width: 100%;
    padding: 0.4rem 0.7rem 0;

    h3 {
      font-size: 1.05rem;
    }

    img {
      width: 2rem;
      margin-top: 0.5rem;
    }
  }

  #get-feedback-form {
    width: 100%;
    padding: 0.7rem 1rem;
    display: grid;
    gap: 1rem;
  }
  label {
    display: block;
    font-size: 0.75rem;
  }
  input,
  textarea {
    margin-top: 0.3rem;
    padding: 0.6rem;
    width: 100%;
    resize: none;
    border-radius: 7px;
    background-color: $primary-color;
    color: $first-text;
    font-size: 0.85rem;
  }
  textarea {
    line-height: 1.1rem;
  }
  button {
    border: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $first-text;
    border-radius: 1.5rem;
    border: 1px solid $optional-color-transparent-4;
    cursor: pointer;
    font-size: 0.7rem;

    i {
      margin-left: 0.3rem;
      font-size: 0.67rem;
    }

    &:hover {
      transition: all 0.3s ease-in;
      opacity: 0.85;
      scale: 1.02;
    }
  }

  .form-action-btns {
    @include flex-center;
    column-gap: 0.7rem;

    button:nth-child(2) {
      background-color: $sky-blue-color;
      color: $primary-color;
    }
  }
}
