.navbar {
  @include fixed-position;
  top: 2.7rem;
  width: 95%;
  @include flex-space;
  z-index: 2;
  background-color: transparent;
  pointer-events: none;
}

.name__logo-div {
  margin-left: 0.7rem;
  transition: all 0.3s ease-in;
  border-radius: 2rem;
  padding: 0 1.2rem;
  backdrop-filter: blur(9px);
  border: 1px solid $border-color-transparent-2;
  @include flex-center;
  height: 2.8rem;
  pointer-events: all;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    bottom: 30%;
    left: 50%;
    filter: blur(55px);
    background-color: $sky-blue-color;
    position: absolute;
    z-index: -5;
    mix-blend-mode: color-dodge;
  }

  &:hover {
    scale: 1.053;
  }
}

.navbar-right {
  pointer-events: all;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    bottom: 30%;
    right: 55%;
    opacity: 0.7;
    filter: blur(55px);
    background-color: $light-goldenrod-color;
    position: absolute;
    z-index: -5;
  }
}

.sign-in-btn {
  background-color: $dark-blue-color-transparent-2;
  padding: 0 1.27rem;
  color: $first-text;
  font-size: 0.915rem;
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.3s ease-in;
  backdrop-filter: blur(9px);
  border: 1px solid $border-color-transparent-2;
  height: 2.5rem;

  i {
    vertical-align: middle;
    padding-left: 0.27rem;
  }

  &:hover {
    scale: 1.0358;
    opacity: 0.85;
  }
}

.sidebar-menu {
  @include fixed-position;
  bottom: 0rem;
  backdrop-filter: blur(9px);
  border-radius: 2rem;
  padding: 0.45rem 1.5rem;
  max-width: 400px;
  width: 90%;
  border: 1px solid $border-color-transparent-2;
  transform-origin: left;
  transition: scale 0.3s ease-in-out;
  background-color: $primary-color-transparent-2;
  z-index: 1;
  height: 4rem;
  display: none;
}

.sidebar-links {
  @include flex-space;
  width: 100%;

  a {
    @include flex-space;
    font-size: 1.35rem;
    color: $first-text;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: 0.7rem;
  }

  span {
    display: none;
  }
}

.sidebar-links a:hover {
  transition: all 0.4s ease-in;
  background-color: $border-color-transparent-2;
}

.active-link {
  transition: all 0.3s ease-in;
  background-color: $border-color-transparent-2;
  // padding: 0.1rem 0.5rem;
  // border-radius: 1rem;

  span {
    // transform: scale(1);
    // width: 100%;
  }
}
