.navbar {
  z-index: 2;
}
.navbar_top_area {
  @include fixed-position;
  top: 2.7rem;
  border-radius: 2rem;
  width: 95%;
  padding: 0.45rem 1rem;
  backdrop-filter: blur(9px);
  border: 1px solid $border-color-transparent-2;
  @include flex-space;
  height: 3.27rem;
}

.name__logo-div {
  @include flex-center;
  gap: 0.5rem;
  margin-left: 0.7rem;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    bottom: 30%;
    left: 50%;
    filter: blur(55px);
    background-color: $sky-blue-color;
    position: absolute;
    z-index: -5;
    mix-blend-mode: color-dodge;
  }

  &:hover {
    scale: 1.053;
  }
}

.sign-in-btn {
  background-color: $dark-blue-color-transparent-2;
  padding: 0.59rem 1.27rem;
  font-family: inherit;
  color: $first-text;
  font-size: 0.915rem;
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.3s ease-in;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    bottom: 30%;
    right: 55%;
    filter: blur(55px);
    background-color: $light-goldenrod-color;
    position: absolute;
    z-index: -5;
  }

  i {
    vertical-align: middle;
    padding-left: 0.27rem;
  }

  &:hover {
    scale: 1.0358;
    opacity: 0.85;
  }
}

.sidebar-menu {
  @include fixed-position;
  bottom: 0rem;
  backdrop-filter: blur(9px);
  border-radius: 2rem;
  padding: 0.45rem 0.77rem;
  max-width: 30rem;
  width: 90%;
  column-gap: 0.75rem;
  border: 1px solid $border-color-transparent-2;
  transform-origin: left;
  transition: scale 0.3s ease-in-out;
  @include flex-space;
  background-color: $primary-color-transparent-2;
  z-index: 1;
  display: none;
}

.sidebar-links {
  @include flex-space;
  width: 100%;
  padding: 0.37rem 0.47rem;

  a {
    @include flex-space;
    column-gap: 0.47rem;
    font-size: 1.37rem;
    color: $first-text;
    letter-spacing: 0.5px;
    cursor: pointer;
  }

  span {
    width: 0;
    font-weight: 600;
    transform: scale(0);
    font-size: 0.83rem;
    transition: transform 0.2s ease-in;
  }
}

.sidebar-links a:hover {
  transition: all 0.4s ease-in;
  background-color: $border-color-transparent-2;
  padding: 0.12rem 0.5rem;
  border-radius: 1rem;

  span {
    transition: all 0.4s ease-in;
    width: 100%;
    font-weight: 600;
    transform: scale(1);
  }
}

.active-link {
  transition: all 0.3s ease-in;
  background-color: $border-color-transparent-2;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;

  span {
    transform: scale(1);
    width: 100%;
  }
}
