.navbar {
  z-index: 2;
}
.navbar_top_area {
  @include fixed-position;
  // position: absolute;
  top: 2.7rem;
  border-radius: 2rem;
  width: 95%;
  padding: 0.45rem 1rem;
  backdrop-filter: blur(9px);
  overflow: hidden;
  border: 1px solid $border-color-transparent-2;
  @include flex-space;
}

.navbar_top_area::after {
  content: "";
  @include abs-position;
  width: 1rem;
  height: 9rem;
  transform: rotate(37deg);
  left: 47%;
  top: -33%;
  background-color: $btn-color;
  filter: blur(27px);
  z-index: -1;
}

.name__logo-div {
  @include flex-center;
  gap: 0.5rem;
  margin-left: 0.7rem;
  transition: all 0.3s ease-in;

  &:hover {
    scale: 1.053;
  }
}

// .log-img {
//   width: 2.2rem;
//   transition: scale 0.1s ease-in;

//   &:hover {
//     scale: 1.053;
//   }
// }

.sign-in-btn {
  background-color: $dark-blue-color-transparent-2;
  padding: 0.59rem 1.27rem;
  font-family: inherit;
  color: $first-text;
  font-size: 0.915rem;
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: scale 0.3s ease-in;

  i {
    vertical-align: middle;
    padding-left: 0.27rem;
  }

  &:hover {
    scale: 1.0358;
    opacity: 0.85;
  }
}

.navbar-menu {
  @include fixed-position;
  bottom: 0rem;
  backdrop-filter: blur(9px);
  border-radius: 2rem;
  padding: 0.45rem 0.77rem;
  max-width: 30rem;
  width: 90%;
  column-gap: 0.75rem;
  border: 1px solid $border-color-transparent-2;
  transform-origin: left;
  transition: scale 0.3s ease-in-out;
  @include flex-space;
}

.navbar-links {
  @include flex-space;
  width: 100%;
  padding: 0.37rem 0.47rem;

  a {
    @include flex-space;
    column-gap: 0.47rem;
    font-size: 1.37rem;
    color: $first-text;
    letter-spacing: 0.5px;
    cursor: pointer;
  }

  span {
    width: 0;
    font-weight: 600;
    transform: scale(0);
    font-size: 0.83rem;
    transition: transform 0.2s ease-in;
  }
}

.navbar-links a:hover {
  transition: all 0.4s ease-in;
  background-color: $high-color-transparent-4;
  padding: 0.12rem 0.5rem;
  border-radius: 1rem;

  span {
    transition: all 0.4s ease-in;
    width: 100%;
    font-weight: 600;
    transform: scale(1);
  }
}

.active-link {
  transition: all 0.3s ease-in;
  background-color: $high-color-transparent-4;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;

  span {
    transform: scale(1);
    width: 100%;
  }
}
