#profile-btn {
  // font-size: 1rem;
  margin-right: 0.5rem;
  width: min-content;
  height: 40px;
  width: 40px;
  background-color: $sky-blue-color;
  color: $primary-color;
  border-radius: 1.7rem;
  font-size: 1.4rem;
  font-size: $DM-Sans;
  @include flex-center;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 0 0 7px $secondary-color-transparent-2;

  &:hover {
    box-shadow: 0 0 0 1px $secondary-color-transparent-2;
  }
}

#profile-pop {
  margin-inline: auto 1rem;
  margin-top: 5rem;
  align-self: flex-start;
}
