.profile {
  font-size: 1rem;
  display: none;
  text-align: center;
}

#profile-picture {
  width: min-content;
  height: 40px;
  width: 40px;
  background-color: $border-color-transparent-2;
  border-radius: 1.7rem;
  font-size: 1.4rem;
  font-size: $DM-Sans;
  @include flex-center;
  cursor: pointer;
}
