.sidebar-div {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar-header {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  background-color: #3e425d3a;
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.log-img {
  width: 2.3rem;
}

#sidebar-toggle {
  background-color: transparent;
  color: $text-color;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  position: fixed;
  left: 50%;
  top: -8rem;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: #3e425d3a;
  backdrop-filter: blur(15px);
  border-radius: 0.7rem;
  padding: 0.7rem;
  transition: top 0.4s ease-out;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-links {
  display: grid;
  row-gap: 1.5rem;
}

.sidebar-links i {
  font-size: 1rem;
}

.sidebar-links a:hover {
  transition: all 0.3s ease-in-out;
  background-color: $primary-color;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.social-links {
  margin-top: 2rem;
  font-size: 0.93rem;
  display: flex;
  column-gap: 0.4rem;
  justify-content: center;
}

.social-links i:hover {
  cursor: pointer;
  color: $high-color;
}
