:root {
  --first-text: #f8f8f8;
  --second-text: #d3d3d3;

  --primary-color: #0a0a0a;
  --primary-color-transparent-4: rgba(23, 24, 28, 0.753);
  --primary-color-transparent-2: rgba(23, 24, 28, 0.192);

  --secondary-color: #17181c;
  --secondary-color-transparent-4: #17181cb6;
  --secondary-color-transparent-2: #17181c3b;

  --third-color: #13151a;

  --light-border-color-transparent-2: rgba(142, 143, 149, 0.18);
  --dark-blue-color-transparent-2: rgba(62, 66, 93, 0.192);
  --backdrop-filter-color-transparent-2: rgba(35, 36, 42, 0.243);
}

// Fonts
$karla-font: "Karla", sans-serif;
$DM-Sans: "DM Sans", sans-serif;

// Main colors
$first-text: var(--first-text);
$second-text: var(--second-text);

$primary-color: var(--primary-color);
$primary-color-transparent-4: var(--primary-color-transparent-4);
$primary-color-transparent-2: var(--primary-color-transparent-2);

$secondary-color: var(--secondary-color);
$secondary-color-transparent-4: var(--secondary-color-transparent-4);
$secondary-color-transparent-2: var(--secondary-color-transparent-2);

$third-color: var(--third-color);

//  Lightness colors
$border-color-transparent-2: var(--light-border-color-transparent-2);
$dark-blue-color-transparent-2: var(--dark-blue-color-transparent-2);
$backdrop-filter-color-transparent-2: var(
  --backdrop-filter-color-transparent-2
);

// Components colors
$btn-color: rgb(131, 115, 161);
$checked-color: rgb(132, 214, 184);
$delete-color: rgb(237, 88, 95);
$count-color: rgb(106, 179, 203);
$orange-color: rgb(237, 192, 123);
$hotpink-color: rgb(255, 105, 180);

$light-blue-color: rgb(202, 242, 247);
$yellow-color: rgb(255, 224, 131);

// light components color
$checked-color-transparent-2: rgba($checked-color, 0.192);
$delete-color-transparent-2: rgba(255, 114, 114, 0.243);
$dark-delete-color-transparent-4: rgba(65, 30, 30, 0.416);
$orange-color-transparent-2: rgba($orange-color, 0.15);
$hotpink-color-transparent-2: rgba($hotpink-color, 0.15);

// Priorities colors
$critical-color: #cb9ca3;
$high-color: #bbb2cc;
$moderate-color: #f4c57f;
$low-color: #86b5b2;
$optional-color: #b0bbbc;

// Light priority colors
$critical-color-transparent-4: rgba($critical-color, 0.412);
$high-color-transparent-4: rgba($high-color, 0.416);
$moderate-color-transparent-4: rgba($moderate-color, 0.435);
$low-color-transparent-4: rgba($low-color, 0.396);
$optional-color-transparent-4: rgba($optional-color, 0.384);

@media (prefers-color-scheme: dark) {
  // :root {
  //   --first-text: #2e2e2e; /* Dark gray for text */
  //   --second-text: #555555; /* Lighter gray text for secondary elements */

  //   --primary-color: #e3e4e6; /* Light off-white background */
  //   --secondary-color: #cdcdce; /* Soft light gray background */
  //   --third-color: #d1d7db; /* Subtle grayish-blue background */

  //   --light-border-color-transparent-2: #d0d0d06d; /* Light gray borders for soft separation */
  //   --dark-blue-color-transparent-2: #a6b3c0; /* Muted light blue for subtle emphasis */
  //   --backdrop-filter-color-transparent-2: #b8b8b847; /* Slightly transparent white with blur */
  // }
}
