// Fonts
$karla-font: "Karla", sans-serif;
$DM-Sans: "DM Sans", sans-serif;

// Main colors
$text-color: #f1f0f0;
$primary-color: #0e0f13;
// $secondary-color: rgb(20, 21, 25);
$secondary-color: rgb(29, 31, 35);

$thirtiary-color: rgb(45, 45, 49);
$gray-color: #d3d3d3;

//  Lightness colors
$light-border-color: rgba(142, 143, 149, 0.18);
$light-dark-blue-color: #3e425d31;
$backdrop-filter-color: #23242a3e;
$light-secondary-color: rgb(20, 21, 25, 0.9);

// Components colors
$btn-color: #8373a1;
$checked-color: #84d6b8;
$delete-color: #f95059;
$count-color: #53b7d9;
$orange-color: rgb(237, 192, 123);

// light components color
$light-checked-color: #84d6b831;
$light-delete-color: #ff72723e;

// Priorities colors
$critical-color: #cb9ca3;
$high-color: rgb(187, 178, 204);
$moderate-color: rgb(228, 184, 117);
$low-color: rgb(134, 181, 178);
$optional-color: rgb(176, 187, 188);

// Light priority colors
$light-critical-color: #cb9ca369;
$light-high-color: #bbb2cc6a;
$light-moderate-color: #e4b8756f;
$light-low-color: rgba(134, 181, 178, 0.396);
$light-optional-color: #b0bbbc62;
