.welcome-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.welcome-first_section {
  background-image: url("/pattern-lines.svg"), url("/pattern-circle.svg"),
    url("/pattern-circle.svg");
  background-size: cover, 39%, 25%;
  background-repeat: no-repeat;
  background-position: 20% top, left 2rem, center 25%;
  padding-top: 4.7rem;
  text-align: center;
  overflow-x: hidden;
  @include grid-center;
  gap: 0.77rem;

  h1 {
    margin-inline: 1rem;
    font-size: 3.37rem;
    color: $second-text;
  }
}

.welcome-first_section::before {
  @include abs-position;
  content: "";
  width: 4rem;
  transform-origin: top left;
  transform: rotate(50deg);
  height: 47rem;
  top: -7%;
  left: 85%;
  background-image: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0),
    $btn-color 50%
  );
  filter: blur(70px);
  z-index: -1;
  border-radius: 50%;
}

.first-page_subtitle {
  margin: 1rem;
  @include grid-center;
  row-gap: 1.778rem;

  h2 {
    margin-inline: 1rem;
    font-size: 2.37rem;

    span:nth-child(1) {
      color: $moderate-color;
    }
    span:nth-child(2) {
      color: $count-color;
    }
    span:nth-child(3) {
      color: $checked-color;
    }
  }

  p {
    font-size: 1rem;
  }
}

.welcome-btns {
  margin-top: 2.5rem;
  @include flex-center;
  gap: 1.5rem;
  flex-direction: column;

  button {
    padding: 0.7rem 1.7rem;
    border-radius: 0.634rem;
    background-color: $btn-color;
    box-shadow: 0 0 15px -4.5px $btn-color;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in;
    @include flex-center;
    gap: 0.7rem;

    &:hover {
      background-color: $first-color;
      color: $first-text;
      border: 1px solid $btn-color;
    }

    i {
      font-size: 1rem;
    }
  }

  #get_started_btn {
    background-color: $first-color;
    border: 1px solid $btn-color;
    color: $second-text;

    &:hover {
      background-color: $btn-color;
      color: $first-color;
      border: none;
    }
  }
}

.ai-advisor-annoucement_div {
  margin: 3.5rem 1rem;
  border-radius: 0.77rem;
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  background-color: $backdrop-filter-color;
  backdrop-filter: blur(7px);
  padding: 1.5rem;
  border: 1px solid $light-border-color;
  color: $first-text;
  font-family: "bootstrap-icons", $karla-font;

  &::before,
  &::after {
    font-size: clamp(0.25rem, 2.7vw, 0.78rem);
    border-radius: 1rem;
    padding: 0.12rem 0.37rem;
    position: absolute;
  }

  &::after {
    content: "\F589 Enter your prompt";
    background-color: $count-color;
    left: 15%;
    top: 67%;
  }

  &::before {
    content: "\F1C9  Write description";
    background-color: $btn-color;
    right: 7%;
    bottom: 7%;
  }

  .ai-annoucement-text-div {
    @include flex-center;
    flex-direction: column;
    gap: 1.7rem;
  }

  #try-ai-advisor-btn {
    padding: 0.7rem 1.7rem;
    background-color: $second-text;
    // color: $first-text;
    border-radius: 0.7rem;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    i {
      margin-left: 0.5rem;
    }

    &:hover {
      scale: 1.05;
      background-color: $second-color;
      color: $first-text;
      border: 1px solid $second-text;
    }
  }

  .advisor-annoucement-img {
    max-width: 75%;
    border: 0px solid $high-color;
    border-radius: inherit;
  }
}

.blur-shape {
  position: absolute;
  width: 9rem;
  height: 9rem;
  background: linear-gradient(to left top, $count-color 30%, $moderate-color);
  filter: blur(60px);
  top: 60%;
  z-index: -1;
}

.get-suggestions_icon-div {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  background-color: $light-border-color;
  backdrop-filter: blur(15px);
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  font-size: 0.85rem;

  i {
    margin-left: 0.7rem;
    font-size: 1rem;
  }

  &:hover {
    scale: 1.05;
  }
}

.get-suggestions-form_div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  @include grid-center;
  border-radius: 0.7rem;
  width: 100%;
  height: 100%;
  background-color: $light-optional-color;
  display: none;

  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }

  #get-suggestions-form {
    max-width: 40rem;
    margin: 7rem auto;
    padding: 2rem;
    background-color: $second-color;
    border-radius: 7px;
    color: $first-text;
  }
  label {
    display: block;
  }
  input,
  textarea {
    margin-top: 0.3rem;
    padding: 0.6rem;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: $first-color;
    color: $first-text;
  }
  textarea {
    line-height: 1.1rem;
  }
  button {
    border: none;
    display: inline-block;
    padding: 0.725rem 1.7rem;
    background-color: $count-color;
    border-radius: 3rem;
    cursor: pointer;

    i {
      margin-left: 0.3rem;
    }

    &:hover {
      transition: all 0.3s ease-in;
      opacity: 0.85;
      scale: 1.03;
    }
  }
  #get-suggestions-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name name"
      "email email"
      "message message"
      "buttons buttons";
    gap: 1.6rem;
  }
  .name-block {
    grid-area: name;
  }
  .email-block {
    grid-area: email;
  }
  .message-block {
    grid-area: message;
  }
  .form-action-btns {
    grid-area: buttons;
    display: flex;
    gap: 1rem;

    button:nth-child(1) {
      background-color: $second-text;
      color: $first-color;
    }
  }

  @media screen and (min-width: 530px) {
    #get-suggestions-form {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "name message"
        "email message"
        "buttons buttons";
    }
  }
}

.copyRight {
  text-align: center;
  font-size: 0.67rem;
  margin-block: 0rem -6rem;
}
