@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "variables";
@import "mixins";
@import "listTasksStyle";
@import "timerStyle";
@import "navbarStyle";
@import "TasksStyle";
@import "dashboarStyle";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

svg,
img {
  width: 100%;
  height: auto;
}

input,
button {
  border: none;
  outline: none;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: $first-text;
}

*:disabled {
  cursor: unset;
}

body {
  font-family: $karla-font;
  background-color: $first-color;
  color: $first-text;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  display: grid;
}

.app-container {
  @include grid-center;
  padding-bottom: 4rem;
  padding-top: 3.5rem;
}

.main-content {
  @include grid-center;
  transition: all 0.7s;
  max-width: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.copyRight {
  text-align: center;
  font-size: 0.67rem;
  margin-block: 1rem 0.5rem;
}

@media screen and (width >= 470px) {
  .form #taskForm {
    width: 80%;
    padding-block: 0.7rem;
  }

  .priority-of-task {
    gap: 1.25rem;
  }

  .checkmark::before {
    padding-bottom: 0.35rem;
  }
}

@media (width >= 704px) {
  .tasks-home-page {
    border-inline: 1px solid $light-border-color;
    border-radius: 0;
  }

  .form-row:nth-child(3) {
    flex-wrap: nowrap;
  }

  .dashboard-charts {
    width: 100%;
  }
}

@media (width >= 768px) {
  .dashboard-charts {
    grid-template-columns: 1fr 1.77fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "tasks tasks tasks todayreport "
      "category category statetrack statetrack"
      "category category statetrack statetrack"
      "days days . .";

    .today-report-div {
      grid-area: todayreport;
    }

    .category-chart {
      grid-area: category;
      place-self: end;
    }

    .seven-days-chart {
      grid-area: days;
    }

    .statechart-tracktime-div {
      grid-area: statetrack;
      place-self: center;
    }
  }

  .dashboard_tasks-list {
    width: 100%;
    grid-area: tasks;

    .task-list-container {
      background-color: $second-color;
      border-radius: 1rem 1rem 0.7rem 0.7rem;
      margin-inline: 0;
    }

    .all-delete-div {
      border-radius: 1.5rem 1.5rem 0.7rem 0.7rem;
      margin-bottom: -0.15rem;
    }
  }

  .today-tasks-report {
    gap: 3rem;
  }
}

@media screen and (width >= 1024px) {
  .app-container {
    padding: 3rem 0.12rem 0.15rem 0.15rem;
    position: relative;
  }

  .today-tasks-report {
    gap: 0.35rem;
  }

  .log-img {
    width: 2.87rem;
  }

  .navbar-menu {
    height: min-content;
    top: 2.27rem;
    background-color: transparent;

    .navbar-links a,
    .navbar-links p {
      gap: 0.5rem;

      font-size: 1.4rem;

      span {
        font-size: 0.8rem;
        width: 100%;
        transform: scale(1);
      }
    }

    .navbar-links a:hover,
    .navbar-links p:hover {
      padding: 0.12rem 0.5rem;
      border-radius: 1rem;

      span {
        width: 100%;
      }
    }
  }

  .main-content {
    border: 1px solid $light-border-color;
    padding-top: rem;
  }

  .tasks-home-page {
    @include grid-center;
    border: none;
    padding-top: 0;
    margin: 0;
    grid-template-columns: 540px 1fr;
    width: 100%;
    grid-template-areas:
      "first second second"
      "first second second"
      "third second second";
  }

  .first-section,
  .second-section,
  .third-section {
    max-width: 1400px;
    width: 100%;
  }

  .first-section {
    grid-area: first;
    border-top-right-radius: 0;
  }

  .form #taskForm {
    width: 90%;
  }

  .flatpickr-calendar {
    margin-left: 3rem;
  }

  .checkmark::before {
    top: 1px;
    padding-bottom: 0.32rem;
  }

  .second-section {
    grid-area: second;
    border-left: 1px solid $second-color;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .task-list-container {
    border-radius: 2.5rem 0 0.5rem 0;
  }
  .task-list-container .all-delete-div {
    border-bottom-right-radius: 0.5rem;
  }

  .third-section {
    grid-area: third;
    border-bottom-right-radius: 0;

    .percent-of-task {
      border-top: 1px solid $third-color;
    }
  }

  .timer-container {
    grid-template-columns: 43% 1fr;
    border-radius: 0.7rem;
    padding-bottom: 0rem;

    .timer-first-section {
      margin-top: 0;
      border-right: 1px solid $light-border-color;
    }

    .timer-header {
      margin-bottom: 0;
    }

    .tap-time-div {
      margin-top: 0rem;
    }

    #timer-start {
      margin-top: 0;
    }

    .timer-button {
      padding: 0.75rem 1.55rem;
    }
    .timer-second-section {
      display: grid;
    }
  }

  .dashboard {
    width: 100%;
    padding-top: 2rem;

    .dash-header {
      padding-top: 0;
    }

    .dashboard-charts {
      @include grid-center;
      gap: 1.3rem;
      grid-template-columns: 1.5fr 1fr 1fr;
      grid-auto-rows: min-content;
      grid-template-areas:
        "todayreport  tasks tasks"
        "category tasks tasks"
        "days statetrack statetrack";
    }

    .today-report-div {
      grid-area: todayreport;
      width: 100%;
      padding: 0;
      place-self: end;
    }

    .dashboard_tasks-list {
      width: 100%;
    }

    .statechart-tracktime-div {
      grid-template-columns: 1fr 1fr;

      .tracked-time-chart {
        width: 100%;
      }
    }
  }

  .copyRight {
    position: absolute;
    bottom: 0rem;
    z-index: 3;
    font-size: 0.7rem;
  }
}

*:disabled {
  cursor: unset;
}

// utility classes
.hidden {
  display: none;
}

.opacity {
  opacity: 1;
}

.navbar-show {
  top: 12rem;
}
