@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "variables";
@import "mixins";
@import "welcomePageStyle";
@import "aiAdviceStyle";
@import "listTasksStyle";
@import "timerStyle";
@import "navbarStyle";
@import "TasksStyle";
@import "dashboarStyle";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

svg,
img {
  width: 100%;
  height: auto;
}

input,
button,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: $first-text;
}

*:disabled {
  cursor: unset;
}

body {
  font-family: $karla-font;
  background-color: $first-color;
  color: $first-text;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  display: grid;
}

.app-container {
  @include grid-center;
  padding-bottom: 4rem;
  padding-top: 3.5rem;
}

.main-content {
  @include grid-center;
  transition: all 0.7s;
  width: 100%;
  // min-height: 100vh;
  border-radius: 0.5rem;
}

@media screen and (width >= 470px) {
  .dash-img_div {
    width: 85%;
  }

  .form #taskForm {
    width: 80%;
    padding-block: 0.7rem;
  }

  .priority-of-task {
    gap: 1.25rem;
  }

  .checkmark::before {
    padding-bottom: 0.35rem;
  }
}

@media (width >= 704px) {
  .welcome-first_section {
    background-image: url("/pattern-lines.svg"), url("/pattern-circle.svg"),
      url("/pattern-circle.svg"), url("/pattern-squiggly-line-top.svg");
    background-size: cover, 27%, 20%, 45%;
    background-repeat: no-repeat;
    background-position: 20% top, left 2rem, center 20%, right 5rem;
  }

  .tasks-home-page {
    border-inline: 1px solid $light-border-color;
    border-radius: 0;
  }

  .form-row:nth-child(3) {
    flex-wrap: nowrap;
  }

  .dashboard-charts {
    width: 100%;
  }
}

@media (width >= 768px) {
  .first-page_subtitle {
    margin-top: 1.5rem;
  }

  .welcome-btns {
    margin-top: 3rem;
    flex-direction: row;
  }

  .dashboard-charts {
    grid-template-columns: 1fr 1.77fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "tasks tasks tasks todayreport "
      "category category statetrack statetrack"
      "category category statetrack statetrack"
      "days days . .";

    .today-report-div {
      grid-area: todayreport;
    }

    .category-chart {
      grid-area: category;
      place-self: end;
    }

    .seven-days-chart {
      grid-area: days;
    }

    .statechart-tracktime-div {
      grid-area: statetrack;
      place-self: center;
    }
  }

  .dashboard_tasks-list {
    width: 100%;
    grid-area: tasks;

    .task-list-container {
      background-color: $second-color;
      border-radius: 1rem 1rem 0.7rem 0.7rem;
      margin-inline: 0;
    }

    .all-delete-div {
      border-radius: 1.5rem 1.5rem 0.7rem 0.7rem;
      margin-bottom: -0.15rem;
    }
  }

  .today-tasks-report {
    gap: 3rem;
  }
}

@media screen and (width >= 1024px) {
  .app-container {
    padding: 3rem 0.12rem 0.15rem 0.15rem;
    position: relative;
  }

  .navbar-menu {
    height: min-content;
    top: 2.7rem;
    background-color: transparent;
    border-color: transparent $light-border-color;
    backdrop-filter: blur(0px);

    .navbar-links a {
      gap: 0.5rem;
      font-size: 1.4rem;

      span {
        font-size: 0.8rem;
        width: 100%;
        transform: scale(1);
      }
    }

    .navbar-links a:hover {
      padding: 0.12rem 0.5rem;
      border-radius: 1rem;

      span {
        width: 100%;
      }
    }
  }

  .main-content {
    border: 1px solid $light-border-color;
    border-top-color: transparent;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    padding-top: 0.57rem;
  }

  .welcome-first_section::after {
    @include abs-position;
    content: "";
    width: 12rem;
    height: 12rem;
    transform-origin: top left;
    transform: rotate(50deg);
    top: 0%;
    left: 10%;
    background-color: $optional-color;
    opacity: 0.5;
    filter: blur(50px);
    z-index: -1;
  }

  .dash-img_div {
    flex-direction: row;
  }

  .tasks-home-page {
    @include grid-center;
    border: none;
    padding-top: 0;
    margin: 0;
    grid-template-columns: 540px 1fr;
    width: 100%;
    grid-template-areas:
      "first second second"
      "first second second"
      "third second second";
  }

  .first-section,
  .second-section,
  .third-section {
    max-width: 1400px;
    width: 100%;
  }

  .first-section {
    grid-area: first;
    border-top-right-radius: 0;
  }

  .form #taskForm {
    width: 90%;
  }

  .form-container {
    margin-top: 0;
  }

  .flatpickr-calendar {
    margin-left: 3rem;
  }

  .checkmark::before {
    top: 1px;
    padding-bottom: 0.32rem;
  }

  .second-section {
    grid-area: second;
    border-left: 1px solid $second-color;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .task-list-container {
    border-radius: 2.5rem 0 0.5rem 0;
  }
  .task-list-container .all-delete-div {
    border-bottom-right-radius: 0.5rem;
  }

  .third-section {
    grid-area: third;
    border-bottom-right-radius: 0;

    .percent-of-task {
      border-top: 1px solid $third-color;
    }
  }

  .today-report-div {
    margin-bottom: 0;
  }

  .today-tasks-report {
    gap: 0.35rem;
  }

  .ai-advice_container {
    min-height: 90vh;
  }

  .input-submit_box {
    bottom: 3rem;
  }

  .timer-container {
    grid-template-columns: 43% 1fr;
    border-radius: 0.7rem;
    padding-bottom: 0rem;

    .timer-first-section {
      margin-top: 0;
      border-right: 1px solid $light-border-color;
    }

    .timer-header {
      margin-bottom: 0;
    }

    .tap-time-div {
      margin-top: 0rem;
    }

    .timer-title {
      margin-top: 2.5rem;
    }

    #timer-start {
      margin-top: 0;
    }

    .timer-button {
      padding: 0.75rem 1.55rem;
    }
    .timer-second-section {
      display: grid;
    }
  }

  .dashboard {
    width: 100%;
    padding-top: 3rem;

    .dash-header {
      padding-top: 0;
    }

    .dashboard-charts {
      @include grid-center;
      gap: 1.3rem;
      grid-template-columns: 1.5fr 1fr 1fr;
      grid-auto-rows: min-content;
      grid-template-areas:
        "todayreport  tasks tasks"
        "category tasks tasks"
        "days statetrack statetrack";
    }

    .today-report-div {
      grid-area: todayreport;
      width: 100%;
      padding: 0;
      place-self: end;
    }

    .dashboard_tasks-list {
      width: 100%;
    }

    .statechart-tracktime-div {
      grid-template-columns: 1fr 1fr;

      .tracked-time-chart {
        width: 100%;
      }
    }
  }

  .copyRight {
    margin-bottom: 1rem;
  }
}

*:disabled {
  cursor: unset;
}

// utility classes
.hidden {
  display: none;
}

.opacity {
  opacity: 1;
}
