@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
.timer-container {
  display: grid;
  width: 100%;
  text-align: center;
  padding-bottom: 3rem;
}

.timer-first-section {
  margin-top: 3rem;
  display: grid;
  place-items: center;
}
.timer-first-section .timer-header {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.3rem;
  margin-bottom: 1.7rem;
  color: #f3f3f3;
  font-size: 0.8rem;
}
.timer-first-section .timer-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-first-section .timer-picker .picker {
  position: relative;
  height: 110px;
  width: 75px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.timer-first-section .timer-picker .picker::-webkit-scrollbar {
  display: none;
}
.timer-first-section .timer-picker .picker-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.timer-first-section .timer-picker .colon {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}
.timer-first-section .timer-picker .picker-item {
  height: 40px;
  line-height: 40px;
  font-size: 2rem;
  opacity: 0.5;
  transition: opacity 0.3s, font-size, 0.3s;
  color: #bbb2cc;
}
.timer-first-section .timer-picker .picker-item.selected {
  font-size: 3rem;
  font-weight: bold;
  opacity: 1;
}
.timer-first-section .tap-time-div {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  margin-top: 4rem;
  display: grid;
  place-items: center;
  background-color: rgba(62, 66, 93, 0.3529411765);
  cursor: pointer;
}
.timer-first-section .tap-time-div #tap-choose-time {
  font-size: 0.8rem;
}
.timer-first-section #timer-start {
  margin-top: 2.5rem;
  padding: 0.67rem 2rem 0.67rem 1.5rem;
  font-size: 1.02rem;
  background-color: #917db6;
  color: #f3f3f3;
  letter-spacing: 1px;
}

.timer-button {
  padding: 0.67rem 1.35rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #f3f3f3;
  word-spacing: 0.35rem;
  transition: opacity 0.3s;
}
.timer-button:hover {
  opacity: 0.87;
}
.timer-button:disabled {
  opacity: 0.65;
}
.timer-button:disabled:hover {
  opacity: 0.65;
}

.timer-second-section {
  position: relative;
  display: grid;
}
.timer-second-section .svg-circle-container {
  transform: rotate(-90deg);
  max-width: 500px;
  width: 100%;
}
.timer-second-section .timer-text {
  text-anchor: middle;
  transform: rotate(90deg);
  fill: #f3f3f3;
}
.timer-second-section .svg-circle {
  fill: none;
}
.timer-second-section #behind-circle {
  stroke: #3e425d;
  stroke-width: 0.5;
}
.timer-second-section #countdown-circle {
  stroke: #bbb2cc;
  stroke-width: 2.5;
}
.timer-second-section .timer-buttons {
  margin-bottom: 1.7rem;
  display: flex;
  column-gap: 2rem;
  place-self: center;
}
.timer-second-section .timer-buttons #timer-cancel {
  background-color: #2c313f;
}
.timer-second-section .timer-buttons #timer-pause {
  background-color: rgba(248, 108, 108, 0.8431372549);
}
.timer-second-section .timer-buttons #timer-resume {
  background-color: #917db6;
  display: none;
}

.sidebar-div {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar-header {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(62, 66, 93, 0.2274509804);
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.log-img {
  width: 2.3rem;
}

#sidebar-toggle {
  background-color: transparent;
  color: #f3f3f3;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  position: fixed;
  left: 50%;
  top: -8rem;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(62, 66, 93, 0.2274509804);
  backdrop-filter: blur(15px);
  border-radius: 0.7rem;
  padding: 0.7rem;
  transition: top 0.4s ease-out;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-links {
  display: grid;
  row-gap: 1.5rem;
}

.sidebar-links i {
  font-size: 1rem;
}

.sidebar-links a:hover {
  transition: all 0.3s ease-in-out;
  background-color: #242936;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.social-links {
  margin-top: 2rem;
  font-size: 0.93rem;
  display: flex;
  column-gap: 0.4rem;
  justify-content: center;
}

.social-links i:hover {
  cursor: pointer;
  color: #bbb2cc;
}

.const-tasks-section {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  border: 1px solid #3e425d;
  border-radius: 1rem;
}

.first-section {
  max-width: 700px;
  width: 100%;
  background-color: #242936;
  text-align: center;
  border-radius: 1rem;
}

.form-container {
  margin-top: 1.5rem;
  padding: 0.83rem;
  width: 100%;
}

.form-container .form {
  text-align: center;
  display: grid;
  place-items: center;
  row-gap: 0.5rem;
}

.form .form-row {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.form-row:nth-child(3) {
  position: relative;
}

.form .form-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.7rem;
}

.form-column label {
  font-size: 0.7rem;
  margin-left: 0.4rem;
  margin-bottom: 0.3rem;
  background-color: transparent;
  text-align: start;
  color: #f3f3f3;
  opacity: 0.95;
}

.form #taskForm {
  background-color: #2c313f;
  padding: 0.65rem 1.5rem;
  border-radius: 1.5rem;
  color: #f3f3f3;
  border: none;
  outline: none;
  font-family: inherit;
  width: 95%;
}

.form #category {
  outline: none;
  border: none;
  background-color: #2c313f;
  padding: 0.6rem 0.5rem;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 1.5rem;
  color: #f3f3f3;
  font-family: inherit;
  width: 70%;
}

#taskForm:focus,
#category:focus {
  border-color: rgba(176, 187, 188, 0.5058823529);
}

.priority-of-task {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

#priority-label {
  text-align: center;
  border-bottom: 1px solid rgba(187, 188, 201, 0.1882352941);
}

.priority-of-task span {
  cursor: pointer;
  text-align: center;
  color: #242936;
  border-radius: 1rem;
  font-size: 0.8rem;
  width: 25px;
  height: 15px;
  font-weight: 600;
}

.priority-of-task span:is(:hover, :focus) {
  opacity: 0.7;
}

/* Time picker */
.time-picker {
  text-align: start;
}

#start-time-label,
#end-time-label {
  color: #252728;
  border-radius: 0.7rem;
  padding: 0 0.3rem;
  font-weight: 600;
  margin-left: 1.3rem;
}

#start-time-label {
  background-color: #86b5b2;
}

#end-time-label {
  background-color: #e4b875;
  margin-left: 1.5rem;
}

.time-input {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  position: relative;
  z-index: 0;
}

.time-input input[type=number] {
  background-color: #242936;
  border: 1px solid rgba(187, 188, 201, 0.1882352941);
  padding: 0.3rem 0;
  text-align: center;
  border-radius: 1rem;
  width: 3rem;
  color: inherit;
  font-family: inherit;
  font-size: 0.9rem;
}

#start-time_input input:focus {
  border-color: #86b5b2;
}

#end-time_input input:focus {
  border-color: #e4b875;
}

/* For Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch-night-day {
  position: relative;
  width: 1.82rem;
  height: 2rem;
  z-index: -1;
}

.switch-night-day input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  margin-left: -1.5rem;
  margin-top: 0.33rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.3rem;
  background-color: transparent;
  border: 1px solid rgba(187, 188, 201, 0.1882352941);
  border-left: none;
  transition: 0.4s;
  border-radius: 0 1rem 1rem 0;
  font-family: inherit;
}

.checkmark::before {
  font-family: inherit;
  position: absolute;
  content: "AM";
  text-align: center;
  padding: 0.3rem;
  padding-left: 0.6rem;
  top: 1px;
  left: 0px;
  border-radius: 0.2rem 1rem 1rem 0.2rem;
  background-color: #e4b875;
  color: #252728;
  transition: 0.4s;
  user-select: none;
  transform: translate(10px);
}

#start-time_input .checkmark::before {
  background-color: #86b5b2;
}

.switch-night-day input[type=checkbox]:checked ~ .checkmark:before {
  padding-left: 0.3rem;
  transform: translateX(31px);
  content: "PM";
}

.form .create-btn {
  background-color: #917db6;
  border-radius: 2rem;
  color: #f3f3f3;
  font-family: inherit;
  cursor: pointer;
  padding: 0.77rem 1.3rem;
  font-size: 0.78rem;
  font-weight: 500;
  transition: opacity 0.3s;
}

.form .create-btn:hover {
  opacity: 0.9;
}

.form button > img {
  margin-left: 0.1rem;
  margin-bottom: -0.3rem;
  width: 1rem;
}

.error-message,
.time-error-message {
  font-size: 0.65rem;
  margin-top: 0.24rem;
  color: #fa6e6e;
  padding-left: 0.3rem;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.time-error-message {
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, -50%);
}

.form-column #priority-error-message {
  text-align: center;
}

.form-column .time-error-message {
  margin-top: 0;
}

/* second section */
.second-section {
  max-width: 700px;
  width: 100%;
  background-color: #242936;
  text-align: center;
  color: #f3f3f3;
}

.card-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.details-cards {
  background-color: #242936;
  border-radius: inherit;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  column-gap: 1rem;
  padding: 1rem;
  text-align: start;
  color: #f3f3f3;
  overflow: auto;
  margin-top: 0.63rem;
  text-transform: capitalize;
}

.details-cards::-webkit-scrollbar {
  width: 0;
}

.details-card {
  width: 310px;
  background-color: #cb9ca3;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.5;
  background-image: url(../../src/assets/bg-top.svg), url(../../src/assets/bg-bottom.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right, -5rem 3rem;
  position: relative;
}

.details-card .task-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-details .priority-icon {
  width: 21px;
}

.details-card .task-time {
  margin-top: 2rem;
}

.task-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-start-time h3,
.task-end-time h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.task-start-time p,
.task-end-time p {
  font-size: 0.9rem;
}

.task-done-time span {
  padding: 0.44rem 0.7rem;
  background-color: rgba(62, 66, 93, 0.1921568627);
  color: rgba(243, 243, 243, 0.8235294118);
  border-radius: 2rem;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: initial;
}

.empty-card {
  background-color: #b0bbbc;
  opacity: 0.15;
  filter: grayscale(100%);
}

/* Task list */
.task-list-container {
  background-color: #2c313f;
  border-radius: 2.5rem 2.5rem 0.7rem 0.7rem;
  padding: 0.7rem;
  padding-bottom: 0;
  text-align: end;
  position: relative;
  width: 100%;
}

/* filter and length */
.filter-and-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.7rem;
}

/* Custom select */
.custom-select {
  position: relative;
}

.custom-select .selected-option {
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  column-gap: 3px;
  color: #f3f3f3;
  font-size: 0.85rem;
  border-radius: 1rem;
  padding: 4px 9px;
  border: 1px solid rgba(187, 188, 201, 0.1882352941);
  transition: all 0.3s;
}

.custom-select:hover .selected-option {
  background-color: #242936;
}

.selected-option .filter-icon {
  width: 0.75rem;
  fill: #edc07b;
}

.custom-select .filter-list {
  font-size: 0.8rem;
  padding: 0.37rem;
  position: absolute;
  top: 1.632rem;
  text-align: start;
  background-color: rgba(62, 66, 93, 0.2274509804);
  backdrop-filter: blur(4px);
  display: none;
  border: 1px solid rgba(187, 188, 201, 0.1882352941);
  z-index: 10;
  border-radius: 1rem;
  width: 7.7rem;
  text-transform: capitalize;
  line-height: 1.5;
}

.filter-list .option {
  cursor: pointer;
  display: block;
}

.filter-list span:hover {
  background-color: #242936;
  padding-left: 0.5rem;
  border-radius: 1rem;
}

.task-list-container .task-length {
  display: flex;
  align-items: center;
}

.task-length .length {
  background-color: #8ce5f4;
  color: #242936;
  padding: 0.12rem 0.37rem;
  text-align: center;
  border-radius: 1.5rem;
  margin-left: 0.7rem;
  text-align: center;
  font-size: 0.77rem;
}

/* List of task */
.task-list-div {
  margin: 0.3rem;
  list-style: none;
  height: 19rem;
  overflow: auto;
  position: relative;
}

.task-list-div::-webkit-scrollbar {
  width: 0;
}

.no-data-img {
  width: 100%;
  height: 75%;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
}

.list-task {
  display: flex;
  align-items: center;
  text-align: left;
  margin-inline: 0.7rem;
  margin-block: 1.5rem;
  padding-top: 0.34rem;
  z-index: 0;
  border-radius: 2rem;
}

.list-task:last-of-type {
  padding-bottom: 3rem;
}

.list-task-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.delete-icon-svg,
.complete-icon-svg {
  fill: #f3f3f3;
  width: 19px;
  background-color: #3e425d;
  border-radius: 50%;
  padding: 4px 4.5px;
  cursor: pointer;
}

.task-description-div {
  margin-left: 0.7rem;
  margin-right: 0.25rem;
  margin-bottom: 0.37rem;
  display: grid;
  row-gap: -0.15rem;
}

.task-description-div p {
  font-size: 1rem;
}

.task-current-time {
  font-size: 0.8rem;
  color: #bbbcc9;
}

.task-description-div::selection {
  background-color: #3e425d;
}

.task-left-div {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}

.task-edit-icon {
  font-size: 1.15rem;
  color: #b0bbbc;
  text-align: end;
  cursor: pointer;
  border: 3px solid #3e425d;
  border-radius: 50%;
  background-color: #3e425d;
}

.task-edit-icon:hover {
  color: #f3f3f3;
}

.delete-icon-svg {
  background-color: #fa6e6e;
}

.complete .complete-icon-svg {
  fill: #242936;
  outline: 4px solid rgba(172, 216, 170, 0.3098039216);
  background-color: #acd8aa;
}

.complete .delete-icon-svg {
  outline: 4px solid rgba(255, 114, 114, 0.2431372549);
}

.task-edit-box {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(44, 49, 63, 0.1254901961);
  max-width: 25rem;
  width: 95%;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.77rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(134, 181, 178, 0.1647058824);
  padding: 0.5rem;
  color: #f3f3f3;
  display: none;
}

#task-edit-input {
  background-color: transparent;
  place-self: start;
  width: 100%;
  color: #f3f3f3;
  padding: 0.35rem 0.35rem 0rem 0.35rem;
  font-family: inherit;
  font-size: 0.97rem;
  margin-right: 0.6rem;
  border-bottom: 1px solid rgba(187, 188, 201, 0.1882352941);
}

.edit-result-btns {
  display: flex;
  column-gap: 0.45rem;
}

.edit-answer-btn {
  padding: 0.25rem 0.45rem;
  border-radius: 0.3rem;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
  align-self: end;
  color: #f3f3f3;
}

#cancel {
  background-color: #3e425d;
}

#save {
  background-color: #917db6;
}

.edit-answer-btn:hover {
  opacity: 0.9;
}

.all-delete-div {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  background-color: rgba(62, 66, 93, 0.0901960784);
  width: 100%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  border-top: 1px solid #3e425d;
  backdrop-filter: blur(12px);
  padding-bottom: 1rem;
  padding-top: 0.7rem;
}

.all-delte-btn {
  display: grid;
  place-items: center;
  border-radius: 1.7rem;
  background-color: #917db6;
  cursor: pointer;
  width: 2.8rem;
  height: 2.7rem;
  transition: opacity 0.3s;
}

.all-delte-btn:hover {
  opacity: 0.8;
}

.all-delte-icon {
  width: 1.5rem;
}

.delete-ask-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(44, 49, 63, 0.1254901961);
  width: 18rem;
  border-radius: 0.77rem;
  text-align: center;
  border: 1px solid rgba(134, 181, 178, 0.2274509804);
  backdrop-filter: blur(10px);
  padding: 0.7rem;
  color: #f3f3f3;
  display: none;
}

.ask-div-header {
  font-size: 0.85rem;
  margin-block: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.ask-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.55rem;
}

.ask-div-btn {
  cursor: pointer;
  font-family: inherit;
  padding: 0.43rem 1.57rem;
  font-size: 0.83rem;
  border-radius: 2rem;
  transition: opacity 0.4s;
  color: #f3f3f3;
}

#no {
  background-color: #3e425d;
}

#yes {
  background-color: #fa6e6e;
}

.ask-div-btn:hover {
  opacity: 0.85;
}

/* third section percentage */
.third-section {
  background-color: #242936;
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.percent-of-task {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #3e425d;
  width: 100%;
}

.percent-of-task .circle-percent .circle {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #3e425d;
  position: relative;
  display: grid;
  place-items: center;
}

.percent-of-task .circle-percent:nth-child(1) .circle {
  background-color: #3e425d;
}

.percent-of-task .circle-percent:nth-child(2) .circle {
  background-color: #edc07b;
}

.circle-percent:nth-child(2) .circle::after,
.circle-percent:nth-child(3) .circle::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background-color: #edc07b;
  position: absolute;
  top: 0;
  border-radius: 50%;
}

.circle-percent:nth-child(3) .circle {
  background-color: #90dcd6;
}

.circle-percent:nth-child(3) .circle::after {
  background-color: #90dcd6;
}

.circle-percent:nth-child(1) .circle h2 {
  font-size: 1.3rem;
}

.circle-percent:nth-child(1) .circle div {
  background-color: #2c313f;
}

.circle div {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #2c313f;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 0.7rem;
  font-weight: 900;
  position: relative;
}

.circle-percent:nth-child(2) .head-percentage::after {
  background-color: #edc07b;
}

.circle-percent:nth-child(3) .head-percentage::after {
  background-color: #90dcd6;
}

.percent-of-task h3 {
  font-size: 0.77rem;
  margin-top: 0.7rem;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg,
img {
  width: 100%;
  height: auto;
}

input,
button {
  border: none;
  outline: none;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: #f3f3f3;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #242936;
  color: #f3f3f3;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  display: grid;
}

.main-content {
  display: grid;
  place-items: center;
  transition: all 0.7s;
  max-width: 100%;
  width: 100%;
}

.copyRight {
  width: 100%;
  text-align: center;
  font-size: 0.55rem;
  margin-block: 1rem 0.5rem;
}

@media screen and (width >= 470px) {
  .form #taskForm {
    width: 80%;
    padding-block: 0.7rem;
  }
  .priority-of-task {
    gap: 1.25rem;
  }
  .checkmark::before {
    padding-bottom: 0.35rem;
  }
}
@media screen and (width >= 1024px) {
  .container {
    display: grid;
    place-items: center;
    grid-template-columns: 15rem 1fr;
    align-items: start;
    width: 100%;
    column-gap: 0.4rem;
  }
  .sidebar {
    width: 15rem;
    min-height: 100vh;
    height: 100%;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: rgba(62, 66, 93, 0.3529411765);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-header {
    margin-left: -2rem;
    background-color: transparent;
    backdrop-filter: none;
  }
  .log-img {
    width: 3rem;
  }
  #sidebar-toggle {
    display: none;
  }
  .sidebar-menu {
    position: static;
    width: 80%;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: start;
    font-size: 1rem;
    background-color: transparent;
    border-top: 1px solid rgba(187, 188, 201, 0.1882352941);
    backdrop-filter: none;
    border-radius: 0;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    align-self: start;
    min-height: 77vh;
    height: 100%;
  }
  .social-links i {
    font-size: 1.3rem;
  }
  .main-content {
    margin: 0.25rem 0.43rem 2rem 0;
  }
  .const-tasks-section {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-template-areas: "first second" "first second" "third second";
  }
  .first-section,
  .second-section,
  .third-section {
    max-width: 1400px;
    width: 100%;
  }
  .first-section {
    grid-area: first;
    border-top-right-radius: 0;
  }
  .form #taskForm {
    width: 90%;
  }
  .checkmark::before {
    top: 1px;
    padding-bottom: 0.32rem;
  }
  .second-section {
    grid-area: second;
    border-left: 1px solid #2c313f;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .task-list-container {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
  }
  .task-list-container .all-delete-div {
    border-bottom-right-radius: 1rem;
  }
  .third-section {
    grid-area: third;
    border-bottom-right-radius: 0;
  }
  .copyRight {
    position: absolute;
    bottom: 0rem;
    z-index: 3;
    font-size: 0.7rem;
  }
}
.hidden {
  display: none;
}

.opacity {
  opacity: 1;
}

.sidebar-show {
  top: 12rem;
}